{% extends 'base.html' %}

{% block header %}
    <div class="jumbotron">
        <h1>This is a place where people can talk and solve math problems!</h1>
    </div>
{% endblock header %}

{% block content %}
    <h1>
        <a href="{% url 'prob:probs' %}">All problems>>></a>
    </h1>
    <h3>
        Got any problems&suggestions while using? Report it to me:<br>
        <i>1783250036@qq.com</i>
        <br>
        Now sorce code is on <a href="https://github.com/xiaoyu2006/math-problem-django">Github</a>.
    </h3>
{% endblock content %}