{% extends 'base.html' %}

{% block header %}
    <h1>All problems</h1>
    <h3><a href="{% url 'prob:new_prob' %}">New problem>></a></h3>
{% endblock header %}

{% block content %}
    {% for p in problems %}
        <div class="panel panel-default">
            <div class="panel-heading">
                <h2>
                    {{ p.title }}
                <small>
                    Asker: {{ p.asker }}
                </small>
              </h2>
            </div>
            <div class="panel-body">
                <p>{{ p.text|linebreaks }}</p>
                <i><a href="{% url 'prob:prob' p.id %}">Details>></a></i>
            </div>
        </div>
    {% empty %}
    <div class="jumbotron">
        <h3><i>No problems yet.</i></h3>
    </div>
    {% endfor %}
{% endblock content %}